/* ==========================================================================
   Base Styles - Các style chung cho toàn bộ trang web
   ========================================================================== */

body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 20px;
    background-color: #f4f7f6;
    color: #333;
}

.main-container {
    max-width: 1200px;
    margin: 30px auto; /* Căn giữa và tạo khoảng cách trên dưới */
    padding: 30px;
    border-radius: 8px;
    /*box-shadow: 0 4px 8px rgba(0,0,0,0.1);*/
}

/*
 * Lớp tiện ích (Utility Class) cho các khối panel/box chung
 * Cung cấp nền trắng, bo góc và bóng đổ nhất quán.
 */
.panel {
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    margin-bottom: 30px;
}

h1 {
    text-align: center;
    color: #2c3e50;
}

h2 {
    color: #34495e;
    border-bottom: 2px solid #ecf0f1;
    padding-bottom: 10px;
    margin-top: 40px;
}

a {
    color: #3498db;
}

.collapsible-header {
    color: #2c3e50;
    cursor: pointer;
    padding: 15px;
    width: inherit;
    border-bottom: 1px solid #bdc3c7;
    text-align: left;
    outline: none;
    font-size: 1.2rem;
    font-weight: bold; 
    user-select: none;
    margin-bottom: 0;
    margin-top: 0;
}

.collapsible-content {
    background-color: #fff;
    padding: 15px
}